.addedAnnotationRow {
    background-color: lightgreen;
}

.deletedAnnotationRow {
    background-color: indianred;
}

.modifiedAnnotationRow {
    background-color: yellow;
}

.invalidAnnotationRow {
    background-color: #ffcccc;
    border: 2px solid #ff4444;
    opacity: 0.8;
}